.modal {
    background-color: honeydew;
    border: 1px solid #888;
    box-shadow: 2px 2px 1px #666;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left:0;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
}

@media screen and (min-width: 561px) {
    .modal {
        background-color: honeydew;
        border: 1px solid #888;
        bottom: 25%;
        box-shadow: 2px 2px 1px #666;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 50%;
        left:25%;
        padding: 1rem 2rem;
        position: fixed;
        top: 25%;
        width: 50%;
    }
}

.modal--closed {
    display: none;
}

.modal__closeButton {
    background-color: honeydew;
    border: none;
    font-size: 2rem;
    flex:100%;
    height: 2rem;
    padding-left: 95%;
}

.modal__header{
    flex:100%;
}

.modal__main{  
    flex:100%;
    min-height: 65%;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.modal__footer {
    display: flex;
    padding: 1rem 0;
}

.modal__footer div {
    box-sizing: border-box;
    flex: 80%;
}

.footer__yesButton{
    background-color: #00BB00;
    color: #fff;
    flex: 10%;
    font-size: 2rem;
    margin-right: 0.5rem;
}

.footer__noButton{
    background-color: #EE0000;
    color: #fff;
    flex: 10%;
    font-size: 2rem;
}